.results {
    border: 1px solid yellow;

    width: 100%;
    margin-top: 60px;
    margin-bottom: 2vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, 25vw);
    align-items: center;
    justify-content: center;
    gap: 2vw;
    list-style: none;
    text-align: center;
}

.results__item {
    background-color: rgba(255, 255, 255, 0.426);
    aspect-ratio: 16/9;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    gap: 1vw;
}

.results__item__h4,
.results__item__h2 {
    color: white;
    font-weight: 100;
}

.results__item__container-img {
    border: 1px solid blue;
    width: 20vw;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.results__item__h4 {
    font-size: clamp(14px, 1.3vw, 100px);
}

.results__item__h2 {
    font-size: clamp(18px, 1.5vw, 100px);

    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se pasa del límite del contenedor */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos (…) al final si el texto se corta */
    width: 19vw;
    /* Ajusta el ancho máximo para controlar cuándo ocurre el truncado */
}

@media (max-width: 768px) {
    .results {
        grid-template-columns: repeat(auto-fit, 40vw);
    }
}