.results {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 2vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, 25vw);
    align-items: center;
    justify-content: center;
    gap: 2vw;
    list-style: none;
    text-align: center;
    transition: .3s;
}

.results__item {
    background: radial-gradient(circle at 10% 10%, rgb(36, 36, 36), black);
    border-radius: 1rem;
    aspect-ratio: 16/9;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    gap: 1vw;
    transition: .3s;
    border: 1px solid black;
}

.results__item:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
    background: radial-gradient(circle at 10% 10%, rgb(48, 48, 48), rgb(24, 24, 24));
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, 0,
            0, -15, 0, 1);


}

.results__item:hover .results__item__h2{
   color: aqua;
}

.results__item__h4,
.results__item__h2 {
    color: white;
    font-weight: 100;
}

.results__item__container-img {
    border: 1px solid rgb(10, 4, 23);
    width: 20vw;
    aspect-ratio: 16/9;
    overflow: hidden;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.results__item__h4 {
    font-size: clamp(14px, 1.3vw, 100px);
}

.results__item__h2 {
    font-size: clamp(18px, 1.5vw, 100px);

    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se pasa del límite del contenedor */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos (…) al final si el texto se corta */
    width: 19vw;
    /* Ajusta el ancho máximo para controlar cuándo ocurre el truncado */
}

@media (max-width: 768px) {
    .results {
        grid-template-columns: repeat(auto-fit, 40vw);
    }
}