.search{
    min-width: 200px;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: .8s ease-in-out;
}

.search__input, .search__btn-cancel{
    width: 90%;
    height: 40px;

    border: none;
    outline: none;
}

.search__btn-cancel{
    width: 10%;
}

.search__input::-webkit-search-cancel-button{
    display: none;
}

.search__input{
 padding: 0px 2vw;
}

