.comic-component {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;

}

.proyectMain {
    width: 100vw;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.comic-component__logo {
    width: 30vw;
    min-width: 250px;
}

.comic-component__box {
    position: sticky;
    top: 40px;

    width: 30vw;
    min-width: 250px;
    height: 40px;

    background: radial-gradient(circle at 10% 10%, rgb(65, 65, 65), rgb(20, 20, 20));
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
    padding: 0px 1rem;
    margin: 2vw 0px;
}

.comic-component__box__btn {
    border: 1px solid white;
    color: white;
    background: radial-gradient(circle at 40% 60%, rgb(20, 20, 20), rgb(16, 16, 16));
    cursor: pointer;
    transition: .3s;
}

.comic-component__box__btn:active {
    border: 1px solid aqua;
    color: aqua;
}

.comic-component__page {
    width: 40vw;
    min-width: 250px;
    height: auto;
    margin-bottom: 2vw;
}